/********* BULMA OVERRIDES *********/

/* Center table values (needed for react-datetime) */
table td:not([align]), table th:not([align]) {
    text-align: center !important;
}

/* Form fields */
.field { margin-bottom: 50px !important; }
.field label { font-size: 1.2em; }

/* React-datetime input */
.rdtPicker {
    border: 1px solid #dbdbdb !important;
    border-radius: 4px;
}
.rdtPicker th,
.rdtPicker tfoot { 
    border-color: #f5f5f5 !important;
}



/* Classes for forcing values */
.menu-visible { display: flex !important; }
@media screen and (max-width: 1023px) {
    .menu-visible { display: block !important; }
}